<a href="https://colab.research.google.com/github/oli124/deep_learning_challenge/blob/main/alphabet_soup_classifier_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import h5py

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [68]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'])

# Show df
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [69]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [70]:
# Look at APPLICATION_TYPE value counts for binning
application_type_value_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_value_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [71]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# Create empty list to store "Other" application types
application_types_to_replace = []

# Create for loop to identify application types with counts lower than 500
# then append these application types to empty list
for i in range(len(application_type_value_counts)):
  if application_type_value_counts[i] < 500:
    application_types_to_replace.append(application_type_value_counts.index[i])

# Replace low count application types with "Other" in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [72]:
# Look at CLASSIFICATION value counts for binning
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [73]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_value_counts_1 = application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]
classification_value_counts_1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [74]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# Create empty list to store "Other" classifications
classifications_to_replace = []

# Create for loop to identify classifications with counts lower than 1000
# then append these application types to empty list
for i in range(len(classification_value_counts)):
  if classification_value_counts[i] < 1000:
    classifications_to_replace.append(classification_value_counts.index[i])

# Replace low count classifications with "Other" in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [75]:
# Show column names to select columns with categorical data
application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [76]:
# Convert categorical data to numeric with `pd.get_dummies`
# Create new dataframe with only numeric values
application_dummies_df = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])

# Show dataframe
application_dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [77]:
# Split our preprocessed data into our features and target arrays

# Features array
X = application_dummies_df.drop(columns=['IS_SUCCESSFUL'])
# Target array
y = application_dummies_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [78]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [79]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train.columns)
hidden_nodes_layer1 =  50
hidden_nodes_layer2 = 25
hidden_nodes_layer3 = 15

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units= hidden_nodes_layer1, input_dim= number_input_features, activation= "LeakyReLU"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units= hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units= hidden_nodes_layer3, activation= "LeakyReLU"))

# Output layer
nn.add(tf.keras.layers.Dense(units= 1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_21 (Dense)            (None, 50)                2200

 dense_22 (Dense)            (None, 25)                1275

 dense_23 (Dense)            (None, 15)                390

 dense_24 (Dense)            (None, 1)                 16

=================================================================
Total params: 3,881
Trainable params: 3,881
Non-trainable params: 0
_________________________________________________________________

In [80]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [81]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=25)

Epoch 1/25
804/804 [==============================] - 3s 2ms/step - loss: 0.5705 - accuracy: 0.7194
Epoch 2/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7300
Epoch 3/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5525 - accuracy: 0.7301
Epoch 4/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5509 - accuracy: 0.7309
Epoch 5/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5501 - accuracy: 0.7296
Epoch 6/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7329
Epoch 7/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7308
Epoch 8/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7322
Epoch 9/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7325
Epoch 10/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7338
Epoch 11/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7333
Epoch 12/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7336
Epoch 13/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7342
Epoch 14/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7346
Epoch 15/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7330
Epoch 16/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7347
Epoch 17/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7334
Epoch 18/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7346
Epoch 19/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5452 - accuracy: 0.7349
Epoch 20/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7362
Epoch 21/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7354
Epoch 22/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7345
Epoch 23/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7357
Epoch 24/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7359
Epoch 25/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7347

In [82]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5520 - accuracy: 0.7296 - 480ms/epoch - 2ms/step
Loss: 0.5519754886627197, Accuracy: 0.7295626997947693

In [83]:
# Export our model to HDF5 file
nn = h5py.File("AlphabetSoupCharity_Optimisation.h5", "w")